---
layout: default
---
<div class="home container">
  <div class="row heading">
    <div class="col-md-12"><h2 class="text-primary">Projects<br/><small>Here are some projects which you can contribute to</small></h2></div>
  </div>
  
  <div class="row projects">
    {% for post in site.categories.project | where: "category", "project" %}

    <div class="col-md-4">
      <div class="panel panel-info">

        <div class="panel-body">
          <div class="post-image">
            <img src="./img/{{ post.slug }}.jpg" alt="">
          </div>
          <h3 class="text-primary">{{ post.title | escape }}</h3>

          <p class="post-meta">{{ post.excerpt }}</p>
        </div>
        <ul class="list-group">
          <li class="list-group-item"><i class="icon-social-github"></i> <a href="https://github.com/{{ post.repo }}">View on Github</a></li>
          <li class="list-group-item"><i class="icon-flag"></i> <a href="https://github.com/{{ post.repo }}/issues">Report a problem</a></li>
        </ul>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

<div class="jumbotron">
  <div class="container">
    <h2 class="text-primary">Contribute</h2>
    <div class="row">
      <div class="col-md-6">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis delectus mollitia nostrum excepturi, repellendus asperiores. Eligendi deleniti officiis cupiditate quam accusamus consequuntur nulla. Est neque sequi cumque, laboriosam deleniti harum impedit eveniet sunt magnam dolorem corporis. Debitis, quod!</p>
        <p><a class="btn btn-success btn-lg" href="/contribute" role="button">Learn more</a></p>
      </div>
    </div>
  </div>
</div>
