---
layout: default
---
<div class="home container">
  <div class="row heading">
    <div class="col-md-12"><h2 class="text-primary">Projects<br/><small>Here are some projects which you can contribute to</small></h2></div>
  </div>
  
  <div class="row projects">
    {% for post in site.categories.project | where: "category", "project" %}

    <div class="col-md-4">
      <div class="panel panel-info">

        <div class="panel-body">
          <div class="post-image">
            <img src="./img/{{ post.slug }}.jpg" alt="">
          </div>
          <h3 class="text-primary">{{ post.title | escape }}</h3>

          <p class="post-meta">{{ post.excerpt }}</p>
        </div>
        <ul class="list-group">
          <li class="list-group-item"><i class="icon-flag" target="_blank"></i> <a href="{{ post.link }}#">Visit website</a></li>
          <li class="list-group-item"><i class="icon-social-github" target="_blank"></i> <a href="https://github.com/{{ post.repo }}">View on Github</a></li>
          <li class="list-group-item"><i class="icon-flag" target="_blank"></i> <a href="https://github.com/{{ post.repo }}/issues">Report a problem</a></li>
        </ul>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

<div class="jumbotron">
  <div class="container">
    <h2>Contribute</h2>
    <div class="row">
      <div class="col-md-6">
        <p>Contribute your data here!</p>
        <p><a class="btn btn-success btn-lg" href="/contribute" role="button">Learn more</a></p>
      </div>
    </div>
  </div>
</div>
